<!doctype html>

<html>
    <meta charset="utf-8">
    <link rel="icon" href="static/favicons/favicon.ico" type="image/x-icon">
    <title>Projects from Graphics</title>

    <body>
        <h1>CSCI 396: Computer Graphics @ Moravian College</h1>
        <p>Projects by Kylie Norwood and Matthew Kosack</p>
        <ol>
            <li><a href="./templates/drawing.html">Drawing</a></li>
            <li><a href="./templates/checkers.html">Checkers</a></li>
            <li><a href="./templates/flightsim.html">Flight Simulator</a></li>
            <li><a href="./templates/art_museum.html">Art Museum</a></li>
        </ol>
    </body>
</html>

